site_name: TrackNado
theme:
  name: material
  palette:
    primary: deep purple
    accent: deep purple
  features:
    - navigation.tabs
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append(".")

nav:
  - Home: index.md
  - Guide: guide.md
  - API Reference: api.md
