site_name: TrackNado
theme:
  name: material
  palette:
    primary: deep purple
    accent: deep purple
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append(".")
          options:
            show_source: true
            show_category_heading: true

nav:
  - Home: index.md
  - User Guide: guide.md
  - Examples: examples.md
  - API Reference: api.md
